.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    color: rgb(0, 0, 0);
    background-color: #a8eafe;
    border-radius: 20px;
    padding: 20px;
  

    h2 {
        margin: 10px 0;
        color: rgb(0, 0, 0);
    }
}